@font-face {
    font-family: pixel;
    src: url('./assets/pixel.ttf');
}

body{
    background-color: rgb(10,10,10);
    display: flex;
    justify-content: center;
    margin: 0;
}

canvas{
    border: 2px solid white;
    border-radius: 4px;
}

p{
    color: white;
    font-family: pixel;
}



error{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(10,10,10);
    display: none;
    text-align: center;
}

@media (max-height: 800px) or (max-width: 1200px) {
    error{
        display: block;
    }

    .game{
        display: none;
    }
}

