@font-face {
    font-family: pixel;
    src: url('./pixel.ttf');
}

body{
    background-color: rgb(10,10,10);
}

canvas{
    border: 2px solid white;
    border-radius: 4px;
}

p{
    color: white;
    font-family: pixel;
}